.venv/
venv/
env/
data/
*.csv
*.zip
*.tar.gz
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
.DS_Store
Thumbs.db
.vscode/
pyvenv.cfg

kmeans_tuning_results.json

# Exclusion
!notebook_outputs/cluster_profile.csv
!kmeans_tuning_results.json